<app-progress-bar *ngIf="loading"></app-progress-bar>
<app-breadcrumbs fxLayout="row wrap"
                 fxLayout.lt-sm="row"
  [crumbs]="breadcrumbs"></app-breadcrumbs>

<h1 class="page-title">Aircraft classes</h1>

<p class="page-description">Our aircrafts are categorized by size classes, below the list of our size classes.</p>

<div
  *ngIf="!loading"
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="space-evenly"
  class="custom-container"
  >
  <ng-container *ngFor="let a of aircraftClasses">
      <app-aircraft-class-card [name]="a.name" [image]="a.image.image" [id]="a.id"
                               fxFlex="1 1 calc(50%"
                               fxFlex.lt-md="1 1 calc(50%)"
                               fxFlex.lt-sm="100%">
      </app-aircraft-class-card>
  </ng-container>
</div>
