<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly" class="custom-container">

  <div fxFlex="0 1 calc(50%)" fxFlex.lt-sm="100%" fxLayout="column" class="box-container">
    <b fxLayout="row" fxLayoutAlign="center center" fxFlex="100%" class="box-header">Navigation</b>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%"><a routerLink="{{aircraftRoute}}">Aircrafts</a></div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%"><a routerLink="{{accessoriesRoute}}">Accessories</a></div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%"><a routerLink="{{reviewsRoute}}">Reviews</a></div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%"><a routerLink="{{distributorsRoute}}">Distributors</a></div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%"><a routerLink="{{contactusRoute}}">Contact us</a></div>
  </div>

  <!--  future social section
  <div fxFlex="0 1 calc(33%)" fxFlex.lt-sm="100%" fxLayout="column">
    <b fxLayout="row" fxLayoutAlign="center center" fxFlex="100%" class="box-header">Social</b>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">Youtube</div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">Facebook</div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">Twitter</div>
  </div>
  -->

  <div fxFlex="0 1 calc(50%)" fxFlex.lt-sm="100%" fxLayout="column" class="box-container">
    <b fxLayout="row" fxLayoutAlign="center" fxFlex="100%" class="box-header">Other</b>
    <div fxLayout="row" fxLayoutAlign="center" fxFlex="100%"><a routerLink="{{whoMadeThisWebsiteRoute}}">Who made this website</a></div>
    <div fxLayout="row" fxLayoutAlign="center" fxFlex="100%">VQModel - All rights reserved 2021</div>
  </div>
</div>
