<h1 class="page-title">Contact us</h1>

<mat-card class="form-container">
  <mat-card-header>
    <mat-card-title>Send us an e-mail</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form (ngSubmit)="submitForm($event)" class="custom-form">

      <mat-form-field class="form-field">
        <mat-label>Your email</mat-label>
        <input matInput [formControl]="emailFormControl" placeholder="Ex. thanh.guong@vqmodel.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Write here your question</mat-label>
        <textarea
          matInput
          mat-autosize
          matAutosizeMinRows="20"
          placeholder="Ex. I have a question about the model..."
        ></textarea>
      </mat-form-field>

      <!-- [disabled]="!" -->
      <button type="submit" mat-button><mat-icon>email</mat-icon> Send</button>
    </form>
  </mat-card-content>
</mat-card>
