.form-container
{
  min-width: 150px;
  max-width: 500px;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;

  /* For mobile version (to avoid screen border collision)*/
  padding: 5%;
}

.custom-form
{

}

.form-field
{
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
}
