<app-progress-bar *ngIf="loading"></app-progress-bar>

<div class="breadcrumbs-container">
  <app-breadcrumbs fxLayout="row wrap"
                   fxLayout.lt-sm="row"
                   [crumbs]="breadcrumbs"></app-breadcrumbs>
</div>

<h1 *ngIf="!loading" class="page-title">{{aircraftClassName}} models</h1>

<p class="page-description">Below the list of the aircraft models belonging to the {{aircraftClassName}} class.</p>

<div
  *ngIf="!loading"
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="space-evenly"
  class="custom-container">
  <ng-container *ngFor="let a of aircraftModels">
    <app-aircraft-model-card [id]="a.id" [name]="a.name" [image]="a.image.image" fxFlex="0 1 calc(50%" fxFlex.lt-md="0 1 calc(50%)" fxFlex.lt-sm="100%">
    </app-aircraft-model-card>
  </ng-container>
</div>
