<app-progress-bar *ngIf="loading"></app-progress-bar>

<h1 *ngIf="!loading" class="page-title">Our distributors</h1>

<div
  *ngIf="!loading"
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="space-evenly"
  class="custom-container">

  <ng-container *ngFor="let d of distributors">
    <app-distributor-card
      [name]="d.name"
      [image]="d.image.image"
      [website]="d.website"
      [phone]="d.phone"
      [address]="d.address"
      [country]="d.country"
      fxFlex="0 1 calc(50%)"
      fxFlex.lt-md="0 1 calc(50%)"
      fxFlex.lt-sm="100%">
    </app-distributor-card>
  </ng-container>

</div>
