<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/" mat-button>
        VQModel
      </a>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <app-toolbar-button [item]=aircrafts></app-toolbar-button>
        <app-toolbar-button [item]=factory></app-toolbar-button>
        <app-toolbar-button [item]=reviews></app-toolbar-button>
        <app-toolbar-button [item]=distributors></app-toolbar-button>
        <app-toolbar-button [item]=contactUs></app-toolbar-button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="push" #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" routerLink={{aircrafts.route}} mat-list-item>
          <mat-icon>{{aircrafts.icon}}</mat-icon>
          {{aircrafts.name}}
        </a>
        <a (click)="sidenav.toggle()" routerLink={{factory.route}} mat-list-item>
          <mat-icon>{{factory.icon}}</mat-icon>
          {{factory.name}}
        </a>
        <a (click)="sidenav.toggle()" routerLink={{reviews.route}} mat-list-item>
          <mat-icon>{{reviews.icon}}</mat-icon>
          {{reviews.name}}
        </a>
        <a (click)="sidenav.toggle()" routerLink={{distributors.route}} mat-list-item>
          <mat-icon>{{distributors.icon}}</mat-icon>
          {{distributors.name}}
        </a>
        <a (click)="sidenav.toggle()" routerLink={{contactUs.route}} mat-list-item>
          <mat-icon>{{contactUs.icon}}</mat-icon>
          {{contactUs.name}}
        </a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon>
          Close
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet fxFlexFill></router-outlet>
      <app-home *ngIf="router.url === '/'"></app-home>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>



