<app-progress-bar *ngIf="loading"></app-progress-bar>

<h1 *ngIf="!loading" class="page-title">How our products are evaluated</h1>

<p class="page-description">Our aircrafts received some reviews on magazines, below the list of our aircraft reviews.</p>

<div
  *ngIf="!loading"
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="space-evenly"
  class="custom-container">

  <ng-container *ngFor="let r of reviews">
    <app-review-card [name]="r.magazine_name" [image]="r.image.image" [download]="r.file" fxFlex="0 1 calc(50%)" fxFlex.lt-md="0 1 calc(50%)" fxFlex.lt-sm="100%">
    </app-review-card>
  </ng-container>

</div>
