.custom-container
{
  margin: auto;
  padding: 16px;
  max-width: 1080px;
  min-height: 82%;
}

.header-image {
  background-image: url('../../assets/images/who-made-this-website/marte_valerio_falcone_avatar.png');
  background-size: cover;
}

