<div class="custom-container">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Marte Valerio Falcone</mat-card-title>
      <mat-card-subtitle>Engineering Student</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        My name is Marte Valerio Falcone, I was born in Rome in 1994 and I'm an Information Technology Engineering student.
      </p>
      <h2>Studies</h2>
      <p>
        I achieved a degree in Information Tecnology Engineering in 2018 at Roma Tre University.
        I'm actually studying to achieve the Master Degree in Information Technology Engineering.
      </p>
      <h2>Why I developed ths website</h2>
      <p>
        I developed this web application for a part of my family who lives in Vietnam. Those people are the owners of VQModel company.
      </p>
      <h2>How I worked</h2>
      <p>
        I developed this web application alone as Full Stack developer. Architecture is a classic Client-API REST structure.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <a href="https://github.com/thanh-guong" target="_blank"><button mat-button>Github</button></a>
      <a href="https://www.linkedin.com/in/marte-valerio-f-a8a33315a/" target="_blank"><button mat-button>LinkedIn</button></a>
    </mat-card-actions>
  </mat-card>
</div>
