@use '@angular/material' as mat;

@include mat.core();

/********** Light theme **********/

/*
$primary: mat.define-palette(mat.$blue-palette, 700);
$accent: mat.define-palette(mat.$blue-palette, 100);
$warn:    mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme($primary, $accent, $warn);

@include angular-material-theme($light-theme);
*/

/********** Dark theme **********/

$dark-primary: mat.define-palette(mat.$blue-grey-palette);
$dark-accent:  mat.define-palette(mat.$grey-palette);
$dark-warn:    mat.define-palette(mat.$deep-orange-palette);

$dark-theme:   mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

@include mat.all-component-themes($dark-theme);

