<div class="custom-container">
  <ng-container>
    <mat-card>
      <mat-card-content>
        <p>Vinh Quang Models (shortly VQ) is one of the first companies in Vietnam to produce model airplanes. Vinh Quang Models has been in business since 1994. We are a RC model manufactory and our models are all made in-house. Since the beginning, our company was built for one reason only and that is our passion for "Model Airplanes", not just simply a business of selling goods.</p>
        <p>Through the years as our company has rapidly grown, we now distribute our products to twenty of agencies throughout the world in more than twenty countries. Vinh Quang Models have built over sixty different model airplanes across a wide range of sizes; especially the latest two models for which we have become well-known for: the 40 and 60 size warbirds and scale civilian.</p>
        <p>With the love and passion we have for the model airplane business, we will continue to improve our products for better quality and higher standards with the hope to fulfill our customers' expectations and needs. We are aggressively anticipating to develop cooler model airplanes-along with new design features added- that will bring modelers to experience a whole new level of excitement when flying our products.</p>
        <p>We hope that our passion for flying the Vinh Quang Models planes will somewhat fulfill your dreams to fly high in the blue sky and make your hobby that much more real and enjoyable.</p>
        <p>We sincerely thank our modeler fans and customers for your support, contribution, and encouragement to allow our passion, our business to stay strong and continue to grow fast in this rapidly changing world we live in today.</p>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
