<div
  class="custom-container"
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="space-evenly"
  >
  <ng-container>
    <mat-card
      fxFlex="0 1 calc(100%"
      fxFlex.lt-md="0 1 calc(100%)"
      fxFlex.lt-sm="100%">
      <mat-card-content>
        <b>Vinh Quang Models</b> (shortly VQ) is one of the first companies in <b>Vietnam</b> to produce model airplanes. Vinh Quang Models has been in business <b>since 1994</b>. We are a <b>RC model manufactory</b> and our models are all <b>made in-house</b>. Since the beginning, our company was built for one reason only and that is our <b>passion for "Model Airplanes"</b>, not just simply a business of selling goods.
      </mat-card-content>
      <img mat-card-image src="../../assets/images/homepage/1_ww2_aircraft.jpg">
      <mat-card-content>
        Through the years as our company has rapidly grown, we now distribute our products to twenty of agencies throughout the world in <b>more than twenty countries</b>. Vinh Quang Models have built <b>over sixty different model airplanes</b> across a wide range of sizes; especially the latest two models for which we have become well-known for: the <b>40 and 60 size warbirds and scale civilian</b>.
      </mat-card-content>
      <img mat-card-image src="../../assets/images/homepage/2_ww2_aircraft.jpg">
      <mat-card-content>
        With the love and passion we have for the model airplane business, we will continue to <b>improve our products for better quality and higher standards</b> with the hope to fulfill our customers' expectations and needs. We are aggressively anticipating to develop <b>cooler model airplanes-along with new design features added</b>- that will bring modelers to experience a <b>whole new level of excitement</b> when flying our products.
      </mat-card-content>
      <img mat-card-image src="../../assets/images/homepage/3_ww2_aircraft.jpg">
      <mat-card-content>
        We hope that our passion for flying the Vinh Quang Models planes will somewhat <b>fulfill your dreams to fly high in the blue sky</b> and make your hobby that much more real and enjoyable.
      </mat-card-content>
      <img mat-card-image src="../../assets/images/homepage/4_ww2_aircraft.jpg">
      <mat-card-content>
        We <b>sincerely thank our modeler fans and customers</b> for your support, contribution, and encouragement to allow our passion, our business to <b>stay strong and continue to grow fast</b> in this rapidly changing world we live in today.
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
